* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/images/fondo4.png);
}

.logoindex {
  width: 25rem;
  height: 14rem;
}

.logo__resto {
  width: 27rem;
  height: 16;
}

.productosmuñecos {
  color: blueviolet;
}

.nav__buttons {
  color: blueviolet;
  text-decoration: none;
  margin-left: 2rem;
  margin-bottom: 4rem;
  font-style: italic;
  font-size: 1.2rem;
}

li {
  list-style-type: none;
}

.actividad1 {
  color: orange;
}

header {
  text-align: center;
}

.videopresentacion {
  float: right;
}

.presentacion {
  color: #38023b;
  text-align: center;
  font-size: 27.38px;
  font-family: "Courier New", Courier, monospace;
}

.text__us {
  margin-left: 20px;

  font-size: 1.6rem;
}

.linea1 {
  background-color: #38023b;
  height: 6px;
  width: -60rem;
  margin: 1rem;
}

.linea2 {
  background-color: #38023b;
  height: 16px;
  width: 65rem;
  margin: 1.8rem 23px;
}

.h1index {
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  text-decoration: underline;
  margin-left: 10px;
  color: #38023b;
}

.footerline {
  background-color: #6e5487;
  height: 3.5rem;
  width: 100%;
  border-radius: 1%;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  padding-top: 0.5rem;
}

.copyright {
  margin-top: 3px;
  text-align: center;
  padding-top: 7.8px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}

/* Contactanos */

.mapahebra {
  border-radius: 1%;
  width: 100%;
  height: 35rem;
  margin-top: 1.5rem;
}

.contact__form {
  border: 1px solid;
  width: 30rem;
  background-color: #6e5487;
  margin-left: 34%;
  margin-top: 1em;
  text-align: center;
}

.wave__form {
  z-index: 20;
  margin-top: 5rem;
}

.motivo__mens {
  margin-bottom: 0.6rem;
}

.h1contacto {
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  margin-left: 3rem;
}

.submit__reset {
  margin-bottom: 5px;
}

.footerline__contact {
  background-color: #6e5487;
  height: 8.5rem;
  width: 100%;
  border-radius: 1%;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  padding-top: 0.5rem;
}

.copyright__contact {
  padding-top: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  margin-left: 31rem;
}

.fa-instagram {
  margin-left: 45.5%;
  font-size: 2.5rem;
  color: black;
}

.fa-facebook {
  font-size: 2.5rem;
  margin-left: 15px;
  margin-top: 10px;
  color: black;
}

.fa-envelope {
  margin-left: 15px;
  font-size: 2.5rem;
  color: black;
}

/* Preguntas Frecuentes */

.pregunta__general {
  margin-left: 25px;
  margin-bottom: 13px;
  font-family: "Raleway", sans-serif;
  margin-top: 5rem;
  font-size: 1.3rem;
}

.pregunta__general__imp {
  margin-left: 25px;
  margin-bottom: 13px;
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
  font-size: 1.3rem;
}

.primera__pregunta {
  margin-top: 2.8rem;
}

.saber__antes__de__comprar {
  margin-left: 5px;
  margin-top: 25px;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
}

.titulo__antes__comprar {
  margin-left: 18%;
  font-size: 1.65rem;
  font-family: "Raleway", sans-serif;
}

.texto__preguntas {
  margin-left: 12px;
  margin-top: 25px;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.footerline__preguntasfrecuentes {
  background-color: #6e5487;
  height: 3.5rem;
  width: 100%;
  border-radius: 1%;
  margin-top: 1.7rem;
  margin-bottom: 4rem;
  padding-top: 0.5rem;
}

.post__footer_info_tarjetas {
  margin-left: 30%;
}

.post__footer_info_data {
  height: 150px;
  margin-left: 5px;
}

/* Informacion antes de Comprar */

.titulo__devoluciones {
  padding-left: 72%;
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
}

.texto__devoluciones {
  text-align: left;
  margin-left: 50px;
}

.posibles__opciones {
  margin-top: 2rem;
  margin-left: 137px;
  margin-bottom: 14px;
  font-size: 23px;
  width: 445px;
  font-family: "Raleway", sans-serif;
}

.flexbox__padre__devoluciones {
  width: 50%;
}

.correo__devoluciones {
  text-decoration: none;
  color: black;
}

.texto__devoluciones__flexpadre {
  margin-left: 6.8rem;
  width: 530px;
  height: 350px;
  font-size: 20px;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.segundo__parrafo__devoluciones {
  margin-top: 15px;
}

.tercer__parrafo__devoluciones {
  margin-top: 8px;
}

/* CAMBIOS */

.devoluciones {
  display: flex;
}

.texto__cambios__flex {
  margin-left: 6.8rem;
  width: 530px;
  height: 350px;
  font-size: 20px;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.titulo__cambios {
  padding-left: 86%;
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
}

.dias__recibida {
  margin-top: 2rem;
  margin-left: 72px;
  margin-bottom: 14px;
  font-size: 23px;
  width: 445px;
  font-family: "Raleway", sans-serif;
  width: 629px;
}

.todo__cambios {
  width: 50%;
}

.segundo__parrafo__cambios {
  margin-top: 15px;
}

.footerline__cambiodevolucion {
  background-color: #6e5487;
  height: 3.5rem;
  width: 100%;
  border-radius: 1%;
  margin-top: 10rem;
  margin-bottom: 1.7rem;
  padding-top: 0.5rem;
}

.copyright__cambiodevolucion {
  padding-top: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  margin-left: 28.3rem;
}

/* Info antes de Comprar */

.como__comprar {
  margin-top: 35px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
}

.leer_instrucciones {
  text-align: center;
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
}

.texto__comocomprar {
  margin-left: 1.2rem;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.parrafo__comocomprar {
  margin-top: 10px;
}

.imagen__comocomprar {
  margin-left: 1.5%;
  height: 350px;
  border-radius: 3%;
  margin-top: 20px;
}

.parrafo__comocomprar__segundaparte {
  margin-top: 10px;
}

.footer__comocomprar {
  margin-top: 35rem;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.navbar-brand {
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav-item {
  margin-left: 110px;
  color: #38023b;
}

.footerline__comocomprar2bs {
  background-color: #6e5487;
  width: 100%;
  border-radius: 1%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.card-title {
  color: #38023b;
  text-decoration: underline;
}

.redes__comocomprar2bs {
  text-decoration: underline;
}

.card {
  width: 500px;
}

@media (max-width: 768px) {
  .imagen__comocomprar {
    height: 300px;
    width: 430px;
    margin-left: 1%;
  }
}

.container__tarjetas {
  margin-top: 40px;
}

.h2__preguntasfrecuentes {
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
}
