/* Como Comprar */

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-image: linear-gradient(#8f81b3, #b65fc8, #e07bda, #f89bdd);
  background-color: #8f81b3;
  line-height: 1.6;
  font-family: sans-serif;
}
.como__comprar {
  margin-top: 35px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
}

.leer_instrucciones {
  text-align: center;
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
}

.texto__comocomprar {
  margin-left: 1.2rem;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;

  .parrafo__comocomprar {
    margin-top: 10px;
  }

  .imagen__comocomprar {
    margin-left: 1.5%;
    height: 350px;
    border-radius: 3%;
    margin-top: 20px;
  }

  .parrafo__comocomprar__segundaparte {
    margin-top: 10px;
  }
}

.footer__comocomprar {
  margin-top: 35rem;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.navbar-brand {
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav-item {
  margin-left: 110px;
  color: #38023b;
}

.redes__comocomprar2bs {
  text-decoration: underline;
}

.carousel {
  max-width: 1200px;
  margin: 0 auto;
}

.margin__comocomprar {
  margin-top: 85px;
  margin-left: 170px;
  color: #38023b;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media (max-width: 768px) {
  .imagen__comocomprar {
    height: 300px;
    width: 430px;
    margin-left: 1%;
    border-radius: 1%;
  }
}

.h2__preguntasfrecuentes {
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
}

.linea1 {
  background-color: #38023b;
  height: 2px;
  padding-left: 53.5rem;
}
