* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav__buttons {
  color: #38023b;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  margin-left: 10px;
  text-decoration: none;
}

body {
  background-color: #8f81b3;
}

@media screen and (max-width: 768px) {
  .menu__responsive {
    width: 400px;
    margin: auto;
  }
}

/* 
@media screen and (max-width: 768px) {
  .nav__buttons {
    font-size: 12px;
  }
} */
